.content {
  display: flex;
  flex-direction: column;
}

.title {
  letter-spacing: -0.5px;
}

.highlighted {
  color: var(--color-primary-dark);
  font-weight: bold;
  text-transform: capitalize;
}

.buttons {
  margin-top: auto;
  display: flex;
  justify-content: end;
  gap: 1.2rem;
}

.buttons button {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.4rem 3.2rem;
}

.btn__cancel {
  background-color: var(--black-light);
}

.btn__confirmCancelation {
  background-color: var(--color-red);
}

.btn__confirmContinue {
  background-color: var(--color-green);
}
