.box {
  width: 100%;
  height: 100vh;
  background-color: var(--white-background);
  display: flex;
  overflow: hidden;
}

.largeBox {
  width: 100%;
}

.content {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 2rem;
}
